<!DOCTYPE html>
<html>
<head>
  <title>Agon</title>
  <%= stylesheet_link_tag    "agon/application", media: "all" %>
  <%= javascript_include_tag "agon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
